---
layout: default
---
<!-- _layouts/team.html -->
<div class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        <span class="font-weight-bold">{{ page.title }}</span>
      {% endif %}
    </h1>
    <p class="font-weight-bold">We are looking for new PhD/Master students to join the team (<a href="{{ site.baseurl }}/join_us">more info</a>) !</p>
  </header>

  <article>

    <div class="team-group">
      <div class="container">
          {% for category in site.data.group_members %}
            <hr>
            <h3><span class="font-weight-bold">{{category.category}}</span></h3>
            {% assign count = 0 %}

            {% for person in category.people %}
              {% assign count = count | plus: 1 %}
              {% if forloop.first %} <!-- If this is the first item, start a row -->
                <div class="row row-centered">
              {% else %}
              {% endif %}

              <div class="col-md-3 col-centered">
                <div class="caption">
                  <a href="{{ person.url }}"><img src="{{ person.image }}" class="img-circle"></a><br><br>
                  <h6><a href="{{ person.url }}"><span class="font-weight-bold">{{ person.name }}</span></a></h6>
                  <h7><span class="italic-text">{{person.desc}}</span></h7><br>
                  <h7><span class="italic-text">{{person.email}}</span></h7>
                </div>
              </div>

              {% if count >= 4 and forloop.last == false %}
                </div>
                <div class="row row-centered">
                {% assign count = 0 %}
              {% elsif forloop.last %}
                </div>
              {% endif %}
            {% endfor %}
        
          {% endfor %}
      </div>
    </div>

  </article>

</div>
